@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    background: linear-gradient(to bottom, #dd2476, #ff512f);
    .container-fluid{
        .navbar{
            a{
                color: white;
                font-family: 'Sniglet', cursive;
            }
            .navbar-brand{
                padding-left: 8rem;
            }
            .navbar-nav{
                .nav-item{
                    padding: 0.9rem;
                    &:last-child{
                        padding-right: 10rem;
                    }
                }
                .nav-link:hover{
                    color: black;
                }
            }
        }
    }
    .container{
        .row{
            .col-md-7{
                padding: 22vmin 1vmin;
                padding-bottom: 35vmin;
                h6{
                    padding: 1vmin;
                }
                h1{
                    padding: 0.1em 0em;
                    font-size: 8.5vmin;
                }
                p{
                    padding: 1vmin 5vmin;
                }
               .primary-btn{
                  border-radius: 30px;
                  font-weight: bold;
              }
            }
            .col-md-5{
                padding: 4.2vmin 1vmin;
                img{
                    width: 90%;
                }
            }
        }
    }
}
//end header, star section-1 
main{
    .section-1{
        padding: 20vmin 0vmin;
        .container{
            .row{
                .col-md-6{
                    img{
                        opacity: 0.8;
                        width: 80%;
                        border-radius: 0.2em;
                    }
                }
                .col-md-6:last-child{
                    position: relative;
                    .panel{
                        position: absolute;
                        background: white;
                        border-radius: 3px;
                        text-align: left;
                        box-shadow: 0px 25px 42px rgb(141, 136, 136);
                        z-index: 1;
                        top: 10vmin;
                        left: -18vmin;
                        padding: 13vmin 5vmin 20vmin 10vmin;
                        p{
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
    .section-2{
        .cover{
            width: 100%;
            height: 55vmin;
            background: url(img/pexels-photo-452738.jpeg);
            background-position: -24rem -19rem;
            background-size: 150%;
            position: relative;
            .content{
                width: 100%;
                height: 100%;
                padding-top: 19vmin;
                background:rgba(0,0,0,0.7);
                > h1{
                    font-size: 6vmin;
                    color: white;
                }
                > p{
                    font-size: 2vmin;
                    color: white;
                }
            }
        }
        .container-fluid{
            .numbers{
                margin-top: -15vmin;
                .rect{
                    position: relative;
                    z-index: 1;
                    background: white;
                    width: 17rem;
                    height: 12rem;
                    padding-top: 3.5vmin;
                    margin: 1rem;
                    border-radius: 0.5em;
                    box-shadow: 1px 2px 50px rgba(255,0,0,0.349);
                    h1{
                        font-size: 5rem;
                        color: tomato;
                    }
                    
                }
            }
        }
        .purchase{
            h1{
                padding-top: 15vmin;
                padding-bottom: 0.1em;
            }
            p{
                font-size: 3vmin;
                padding-bottom: 10vmin;
            }
            .cards{
                .card{
                    width: 22rem;
                    margin: 3vmin 3vmin;
                    .card-body{
                        margin: 0;
                        padding: 0;
                        .title{
                            background: rgba(208,241,241,0.219);
                            padding: 1.4em 2.5em;
                            font-size: 2vmin;
                        }
                    }
                    .card-text{
                        padding: 2.5rem 3rem;
                    }
                    .pricing{
                        background: rgba(208,241,241,0.219);
                        border-top-right-radius: 170px;
                        border-top-left-radius: 170px;
                        h1{
                            font-size: 9vmin;
                            padding: 1em 0.5em;
                        }
                        .primary-btn{
                            border-radius: 30px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    .section-3{
        margin-top: 15vmin;
        height: 70vmin;
        background: linear-gradient(to bottom, #dd2476, #ff512f);
        .row{
            .col-md-12{
                h1{
                    padding: 2em 0 0.5em 0;
                    color: white;
                    font-size: 6vmin;
                }
                p{
                    padding: 0.4em;
                    padding-bottom: 2em;
                    font-size: 2vmin;
                    color: white;
                }
            }
        }
        .row{
            .col-md-6{
                .desktop{
                    background: white;
                    display: inline-block;
                    border-radius: 3em;
                    padding: 2vmin 4vmin;
                    h3{
                        font-size: 4vmin;
                    }
                }
            }
        }
    }
    .section-4{
        .container{
            h1{
                font-size: 8vmin;
                padding-top: 14vmin;
            }
        }
        .team{
            padding: 10vmin 4vmin;
            .card{
                width: 22em;
                margin-top: 10vmin;
                .card-img-top{
                    .border-radius{
                        border-radius: 360px;
                        width: 60%;
                    }
                }
                .card-body{
                    .card-text{
                        padding: 0.5em;
                    }
                    a{
                        font-size: 1.5em;
                    }
                }
            }
            .carousel{
                .carousel-item{
                    padding-left: 3rem;
                    .border-radius{
                        border-radius: 360px;
                        width: 60%;
                    }
                }
            }
        }
    }
}
footer{
    background: rgba(0,0,0,0.815);
    padding: 14vmin 10vmin;
    .row{
        .col-md-5{
            p{
                span{
                    color: #ff512f;
                }
            }
            input{
                border: none !important;
            }
            input::placeholder{
                color: white !important;
            }
            .input-group-text{
                background: linear-gradient(to bottom, #dd2476, #ff512f);
            }
        }
    }
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}
