* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-transform: capitalize;
}

.header{
    width: 100%;
    height: 100vh;
    // background-image: url(background.png);
    // background-position: center;
    // background-size: cover;
    color: #fff;
    padding: 0 5%;
    position: relative;

    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0 1rem;

        .menu li{
            display: inline-block;
            list-style: none;
            margin: 0  1rem;

            a{
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
                letter-spacing: .1rem;
            }
            a:hover{
                color: silver;
            }
        }

        .logo{
            width: 15rem;
            cursor: pointer;
        }
    }
    .text-box{
        margin-top: 5%;
        font-size: 1.5rem;

        h1{
            font-size: 4rem;
            font-weight: 600;
            line-height: 5rem;
            margin-bottom: 0.5rem;
        }

        .btn{
            outline: none;
            border: none;
            font-size: 1rem;
            margin-top: 1.5rem;
            color: #fff;
            background: #b3b459;
            padding: 0.5rem 1rem;
            cursor: pointer;
        }

        .btn:hover{
            letter-spacing: 0.2rem;
        }
    }

    .download{
        position: absolute;
        text-decoration: none;
        color: #fff;
        right: 7%;
        bottom: 10%;
        display: flex;
        align-items: center;
        padding: 0.7rem 1.3rem;
        border-radius: 2rem;
        transition: all .5s;
        font-size: 1.5rem;

        img{
            width: 3rem;
            margin-left: 1rem;
            animation: move 2s linear infinite;
        }
    }
    .download:hover{
        background: #b3b459;
    }
}

@keyframes move{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@media (max-width:720px){
    .header{
        text-align: center;
    }    
}