
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    max-width: 1200px;
    margin: auto;
}
#note {
    background: yellow;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
#header {
    background: cyan;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#navigation {
    background: black;
    display: flex;
}
#navigation a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
}
#navigation a:hover {
    background: rgb(228, 214, 214);
}
#container {
    display: flex;
  
}
#left {
background: rgb(233, 229, 229);
padding: 15px;
}
#left h1, #left p {
    margin: 10px 0;
}
#personalpic {
    border: 1px solid gray;
    height: 200px;
    line-height: 200px;
    background: grey;
    text-align: center;
    margin: 10px 0px;
}
.picleft {
    border: 1px solid gray;
    background: gray;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 0;
}
#left h4 {
    margin: 5px 0;
}
#right {
    padding: 15px;
}
.rightpic {
    border: 1px solid gray;
    height: 200px;
    line-height: 200px;
    background: grey;
    text-align: center;
    margin: 10px 0;
}
#right h1,#right p {
    margin: 10px 0;
}
#footer {
    background: darkgray;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
@media screen and (max-width:800px){
    #navigation, #container {
        flex-direction: column;
    }
   }